{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags gallery_tags %}

{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
        {% with heading=page.title subheading=page.gallery_section_subheading %}
        <h2>{{heading|default_if_none:""}}</h2>
        <p>{{subheading|default_if_none:""}}</p>    
        {% endwith %}
    </div>
  
    <!-- 
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>
 -->
    <div class="row portfolio-container">
    {% gallery page.collection as images %}

      {% for item in images %}
      {% image item original as photo %}
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="{{photo.url}}"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>{{item.value.heading}}</h4>
            <p>{{item.value.description|richtext}}</p>
            <div class="portfolio-links">
              <a
                href="{{photo.url}}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="{{item.value.heading}}"
                ><i class="bx bx-plus"></i
              ></a>
              {% comment %} <a
                href="/"
                class="portfolio-details-lightbox"
                data-glightbox="type: external"
                title="Portfolio Details"
                ><i class="bx bx-link"></i
              ></a> {% endcomment %}

            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
<!-- End Portfolio Section -->

{% endblock content %}